@model Sudoku.View_Models.SudokuListView
@{ViewBag.Title = "Index"; }

<h2>Index</h2>
@* 

    The Admin can click the 'New Sudoku' button to create a new solution with easy medium and hard problems

*@
<a href="/admin/create">New Sudoku</a>



