
@{
    ViewBag.Title = "Access levels";
}

<h2>Index</h2>


    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Admin", "Admin", "Access")</li>
        <li>@Html.ActionLink("Manager", "Manager", "Access")</li>
        <li>@Html.ActionLink("Employee", "Employee", "Access")</li>
    </ul>
